{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% block content %}
    {% endblock %}

    <script>
        function showFileName(input) {
            if (input.files && input.files[0]) {
                var fileName = input.files[0].name;
                document.getElementById('file-name').innerText = "Выбран файл: " + fileName;
            }
        }
        function changeUrl() {

            window.history.pushState({}, "", "converted");
        }
        document.getElementById("changeUrlButton").addEventListener("click", changeUrl);
        setTimeout(changeUrl, 1000);

    </script>
</body>
</html>