{% extends 'base.html' %}

{% load static %}

{% block content %}
    <link rel="stylesheet" href="/css/except.css">
    <title>Pic me, Django!</title>
</head>
<body>
        {% include 'menu.html' %}
        <div class="exception">
            <div class="exception-form">
                <div class="small-form">
                    <h1>{{codeNumber}}</h1>
                    <hr>
                    <p>{{errorText}}</p>
                </div>
                <p class="desc">{{descText}}</p>
            </div>
        </div>
        {% include 'footer.html' %}
{% endblock %}